.chatbot-container {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 20vw;
    height: 5vh; /* Initial height */
    background-color: green;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    transition: height 0.3s ease; /* Smooth transition */
   }
   
   .chatbot-container.expanded {
    height: 50vh;
    width: 30vw; /* Adjusted dynamically by JavaScript */
   }
   
   .healthgptTitle{
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;    
    color: black;
    font-size: medium;
    font-weight: bold;
   }


   .chat-interface {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: 300px; /* Adjust based on your needs */
    padding: 10px;
    box-sizing: border-box;
   }
   
   .chat-interface p {
    margin-bottom: 10px;
   }
   
   .chat-interface input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    /* position: fixed;
    bottom: 1px; */

   }