.chatbot-container {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 12vw;
  height: 5vh;
  background-color: black; /* Change the background color */
  color: black;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.3s ease;
  font-size: medium;
  border-color: black;
}
  
  .chatbot-container.expanded {
    height: 50vh;
    width: 30vw; 
  }
  
  .healthgptTitle {
    justify-content: center;
    display: flex;
    text-align: center;
    color: black;
    font-size: medium;
  }

  .healthgptTitle p {
    font-size: 1.0rem; /* Adjust font size as needed */
    font-weight: bold;
  }
  
  
  .chat-container-inner { 
    flex-direction: column;
    flex-grow: 1; 
    padding: 10px;
    overflow-y: auto;
  }
  
  .chat-interface {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: auto;
    /* min-height: calc(100% - 40px); Adjust height for chat interface */
    max-height:34vh;
    padding: 10px;
    box-sizing: border-box;
  }
  
  
  .chatbot-container.expanded {
    height: calc(50vh - 40px); /* Adjust height for expanded chatbot container */
  }
  
  .healthgptMargin{
    margin-top:10px;
    margin-bottom: 10px;
  }

  .openaiButtonAlign{
    display: flex;
  justify-content: center;
  }

  .navbarButtons{
    float: right;
    display: flex;
  justify-content: space-between;
  }
  .navbarButtons .btn {
    margin-right: 10px; 
    font-size: 15px;
    font-weight: bold;
    background-color: #90E0EF;
    border-color: black;
    color: black;

    &:hover {
      background-color: rgba(0, 0, 0, 0.5); /* Black with 50% transparency */
      border-color: black;
      background-image: linear-gradient(90deg, #FEE140 50%, #FA709A 100%);
      color: black;
      /* -webkit-background-clip: text; */
    }
  }
  
  .navbar{
    background-color:black;
    border-radius: 0px 0px 15px 15px;
    font-size: 25px;
    font-weight: bold;
  }
  .profile-info {
    display: flex; /* Make the profile info a flexbox */
    align-items: center; /* Align content vertically */
    margin-right: 10px; /* Add margin between text and icon */
  }
  
  .profile-info .profile-text { /* Assuming a class for the text */
    margin-right: 5px; /* Add extra margin between text and icon */
  }
  
  .user-message {
    /* background-color: #ddd;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 5px;
    text-align: right;
    width: 20vw; 
    display: inline-block;
    margin-left: auto;
    border-width: 10px 10px 0 0; */


    background-color: #c2e0f5; /* Light blue for user messages (adjust as needed) */
    padding: 10px;
    border-radius: 25px 25px 5px 25px; /* Curved right bottom corner */
    margin-bottom: 5px;
    text-align: right;
    width: 20vw; /* Adjust width as needed */
    display: inline-block;
    margin-left: auto;
    position: relative; 

  }

  .user-message:after {
    content: "";
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 15px;
    height: 30px;
    border-style: solid;
    border-width: 0 0 10px 10px;
    border-color: transparent transparent #c2e0f5 transparent; /* Match user message color */
  }
  
  .bot-message {
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 20px 20px 20px 0px;
    margin-bottom: 5px;
    width: 20vw;
    display: inline-block;
    margin-right: auto;
    text-align: left;
  }

  .message-container {
    display: flex;
    align-items: flex-start;
  }
  
  .message-content {
    display: flex;
    align-items: center;
  }
  
  .message-text {
    /* background-color: #f5f5f5; */
    padding: 10px;
    border-radius: 10px;
    margin-left: 10px;
    max-width: 70%;
  }
  
  .avatar {
    margin-right: 10px;
  }

  .gradient{
    background-color: #FEE140;
    background-image: linear-gradient(90deg, #FEE140 0%, #FA709A 100%);
    -webkit-background-clip: text;
    color: transparent;
  }
  
  .chat-input-container {
    display: flex;
    position: fixed;
    width: 29vw;
    bottom: 20px;
    /* left: 10px; */
  }
  
  .chat-input-container input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    width: auto;
  }
  
  .dialog-container {
    z-index: 1000;
  }

  .move-arrow{
    animation: move 1s infinite;
    cursor: pointer;
  }
  @keyframes move {
    0%, 100% {
        transform: translateY(0);
      }
      25% {
        transform: translateY(-5px);
      }
      50% {
        transform: translateY(0);
      }
      75% {
        transform: translateY(-5px);
      }

  }
  
  .dialog-container::backdrop {
    background: rgba(0, 0, 0, 0.5); 
  }
  
  .dialog-container {
    width: 400px;
    border-radius: 8px;
    border: 1px solid #888;
    padding: 20px;
    background-color:black;
    color:white;
    border-color:black;
    align-items: center;
  }

  .dialog-container .btn{
    background-color:#90E0EF;
    color:black;

    &:hover {
      background-color: rgba(0, 0, 0, 0.5); /* Black with 50% transparency */
      border-color: black;
      background-image: linear-gradient(90deg, #FEE140 50%, #FA709A 100%);
      color: black;
      /* -webkit-background-clip: text; */
    }
  }
  
  .dialog-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    margin-top: 20px;
  }
  
  .dialog-buttons button {
    padding: 10px 20px;
    border: none;
    /* width:10px; */
    border-radius: 5px;
    cursor: pointer;
  }
  
  .dialog-buttons button:hover {
    background-color: #ddd;
  }
  