@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;700&family=Poppins&display=swap');

.header{
    font-family: 'Poppins', sans-serif;
}
.navbarButtons{
    float: right;
    display: flex;
  justify-content: space-between;
  }
  .navbarButtons .btn {
    margin-right: 10px; 
    font-size: 10px;
    font-weight: bold;
    width: auto;
    background-color: #90E0EF;
    border-color: black;
    color: black;

    &:hover {
      background-color: rgba(0, 0, 0, 0.5); /* Black with 50% transparency */
      border-color: black;
      background-image: linear-gradient(90deg, #FEE140 50%, #FA709A 100%);
      color: black;
      /* -webkit-background-clip: text; */
    }
  }
  
  .navbar{
    background-color:black;
    border-radius: 0px 0px 15px 15px;
    font-size: 20px;
    font-weight: bold;
  }
  .profile-info {
    display: flex; /* Make the profile info a flexbox */
    align-items: center; /* Align content vertically */
    margin-right: 10px; /* Add margin between text and icon */
  }
  
  .profile-info .profile-text { /* Assuming a class for the text */
    margin-right: 5px; /* Add extra margin between text and icon */
  }