<center>Current value of Portfolio : {{ name }} </center> <br />
            <center>Selected Investment Strategy/Strategies : {{ strategy }} </center> <br />
            <center>Stocks Chosen : {{ stock1 }}, {{ stock2 }},{{ stock3 }}, {{ stock4 }} </center> <br />
            <p>
            <center>Current value of 1 share of {{ stock1 }} is {{stock1_price }} </center> <br/>
            <center>Invested money in {{ stock1 }} is {{ stock1_money }} </center> <br />
            </p>
            <p>
            <center>Current value of 1 share of {{ stock2 }} is {{stock2_price }} </center> <br/>
            <center>Invested money in {{ stock2 }} is {{ stock2_money }} </center> <br />
            </p>
            <p>
            <center>Current value of 1 share of {{ stock3 }} is {{stock3_price }}</center><br/>
            <center>Invested money in {{ stock3 }} is {{ stock3_money }} </center> <br />
            </p>
            <p>
            <center>Current value of 1 share of {{ stock4 }} is {{stock4_price }}</center><br/>
            <center>Invested money in {{ stock4 }} is {{ stock4_money }} </center> <br />
            </p>