/* Apply styles globally */

/* Override container margin */
.container {
    margin: 0 !important;
}

/* Left side login outlier */
.leftLoginOutlier {
    height: 100vh;
    background-image: black; /* Gradient background */
    background-size: cover;
    background-position: center;
    color: white;
    display: flex; /* Make it a flex container */
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
}

.content {
    text-align: center; /* Center the text */
    padding: 20px; /* Add padding for spacing */
}

h2 {
    font-size: 2rem; /* Adjust the font size */
    font-weight: bold; /* Make the text bold */
}


/* Center content within leftLoginOutlier */
.content {
    text-align: center;
}

/* Right side login outlier */
.RightLoginOutlier {
    height: 100vh;
    background-color: white;
    color: black;
}

/* Login container */
.loginContainer {
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 90vh;
}

/* Login box */
.loginBox {
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    background-color: black;
    color: white;
    min-width: 30vw;
    min-height: 50vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Signup button */
.signupButton {
    margin-top: 20px;
    margin-bottom: 20px;
}
